
local.properties
app/local.properties
app/app.iml
app/.idea/workspace.xml
app/.idea/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_17_jar.xml
app/.idea/libraries/Gradle__org_checkerframework_checker_compat_qual_2_5_2_jar.xml
app/.idea/libraries/Gradle__me_dm7_barcodescanner_core_1_9_8_aar.xml
app/.idea/libraries/Gradle__io_opencensus_opencensus_contrib_grpc_metrics_0_21_0_jar.xml
app/.idea/libraries/Gradle__io_opencensus_opencensus_api_0_21_0_jar.xml
app/.idea/libraries/Gradle__io_grpc_grpc_stub_1_21_0_jar.xml
app/.idea/libraries/Gradle__io_grpc_grpc_protobuf_lite_1_21_0_jar.xml
app/.idea/libraries/Gradle__io_grpc_grpc_okhttp_1_21_0_jar.xml
app/.idea/libraries/Gradle__io_grpc_grpc_core_1_21_0_jar.xml
app/.idea/libraries/Gradle__io_grpc_grpc_context_1_21_0_jar.xml
app/.idea/libraries/Gradle__io_grpc_grpc_api_1_21_0_jar.xml
app/.idea/libraries/Gradle__io_grpc_grpc_android_1_21_0_aar.xml
app/.idea/libraries/Gradle__com_squareup_picasso_picasso_2_71828_aar.xml
app/.idea/libraries/Gradle__com_squareup_okio_okio_1_15_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_okio_okio_1_14_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_okhttp_okhttp_2_7_5_jar.xml
app/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_12_1_jar.xml
app/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_10_0_jar.xml
app/.idea/libraries/Gradle__com_google_protobuf_protobuf_lite_3_0_1_jar.xml
app/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_1_jar.xml
app/.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava_jar.xml
app/.idea/libraries/Gradle__com_google_guava_guava_26_0_android_jar.xml
app/.idea/libraries/Gradle__com_google_firebase_protolite_well_known_types_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_iid_interop_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_iid_19_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_functions_19_0_1_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_firestore_21_3_1_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_components_16_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_common_19_3_0_aar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_common_19_2_0_aar.xml
app/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_3_2_jar.xml
app/.idea/libraries/Gradle__com_google_code_gson_gson_2_7_jar.xml
app/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2_jar.xml
app/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_stats_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_android_annotations_4_1_1_4_jar.xml
app/.idea/caches/build_file_checksums.ser
app/.idea/assetWizardSettings.xml
.idea/workspace.xml
.idea/modules.xml
.idea/libraries/Gradle__pl_droidsonroids_gif_android_gif_drawable_1_2_16_aar.xml
.idea/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_17_jar.xml
.idea/libraries/Gradle__org_checkerframework_checker_compat_qual_2_5_2_jar.xml
.idea/libraries/Gradle__me_dm7_barcodescanner_core_1_9_8_aar.xml
.idea/libraries/Gradle__io_opencensus_opencensus_contrib_grpc_metrics_0_21_0_jar.xml
.idea/libraries/Gradle__io_opencensus_opencensus_api_0_21_0_jar.xml
.idea/libraries/Gradle__io_grpc_grpc_stub_1_21_0_jar.xml
.idea/libraries/Gradle__io_grpc_grpc_protobuf_lite_1_21_0_jar.xml
.idea/libraries/Gradle__io_grpc_grpc_okhttp_1_21_0_jar.xml
.idea/libraries/Gradle__io_grpc_grpc_core_1_21_0_jar.xml
.idea/libraries/Gradle__io_grpc_grpc_context_1_21_0_jar.xml
.idea/libraries/Gradle__io_grpc_grpc_api_1_21_0_jar.xml
.idea/libraries/Gradle__io_grpc_grpc_android_1_21_0_aar.xml
.idea/libraries/Gradle__com_squareup_picasso_picasso_2_71828_aar.xml
.idea/libraries/Gradle__com_squareup_okio_okio_1_15_0_jar.xml
.idea/libraries/Gradle__com_squareup_okhttp_okhttp_2_7_5_jar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_12_1_jar.xml
.idea/libraries/Gradle__com_google_protobuf_protobuf_lite_3_0_1_jar.xml
.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_1_jar.xml
.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava_jar.xml
.idea/libraries/Gradle__com_google_guava_guava_26_0_android_jar.xml
.idea/libraries/Gradle__com_google_firebase_protolite_well_known_types_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_iid_interop_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_iid_19_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_functions_19_0_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_firestore_21_3_1_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_components_16_0_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_common_19_3_0_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_common_19_2_0_aar.xml
.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_3_2_jar.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_7_jar.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2_jar.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_stats_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_annotations_4_1_1_4_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_glide_4_2_0_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_gifdecoder_4_2_0_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_disklrucache_4_2_0_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_annotations_4_2_0_jar.xml
.idea/libraries/Gradle__androidx_exifinterface_exifinterface_1_0_0_aar.xml
.idea/caches/build_file_checksums.ser
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/executionHistory/executionHistory.bin
local.properties
app/local.properties
app/app.iml
app/.idea/workspace.xml
app/.idea/libraries/Gradle__me_dm7_barcodescanner_core_1_9_8_aar.xml
app/.idea/libraries/Gradle__com_squareup_picasso_picasso_2_71828_aar.xml
app/.idea/libraries/Gradle__com_squareup_okio_okio_1_14_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_10_0_jar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_common_19_2_0_aar.xml
app/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
app/.idea/caches/build_file_checksums.ser
app/.idea/assetWizardSettings.xml
.idea/workspace.xml
.idea/modules.xml
.idea/libraries/Gradle__me_dm7_barcodescanner_core_1_9_8_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_common_19_2_0_aar.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_glide_4_2_0_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_gifdecoder_4_2_0_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_disklrucache_4_2_0_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_annotations_4_2_0_jar.xml
.idea/caches/build_file_checksums.ser
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/caches/build_file_checksums.ser
.idea/libraries/Gradle__com_github_bumptech_glide_annotations_4_2_0_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_disklrucache_4_2_0_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_gifdecoder_4_2_0_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_glide_4_2_0_jar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5_jar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_common_19_2_0_aar.xml
.idea/libraries/Gradle__me_dm7_barcodescanner_core_1_9_8_aar.xml
.idea/modules.xml
.idea/workspace.xml
app/.idea/assetWizardSettings.xml
app/.idea/caches/build_file_checksums.ser
app/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
app/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_common_19_2_0_aar.xml
app/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_10_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_okio_okio_1_14_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_picasso_picasso_2_71828_aar.xml
app/.idea/libraries/Gradle__me_dm7_barcodescanner_core_1_9_8_aar.xml
app/.idea/workspace.xml
app/app.iml
app/build.gradle
app/local.properties
local.properties
local.properties
local.properties
app/local.properties
app/build.gradle
app/app.iml
app/.idea/workspace.xml
app/.idea/libraries/Gradle__me_dm7_barcodescanner_core_1_9_8_aar.xml
app/.idea/libraries/Gradle__com_squareup_picasso_picasso_2_71828_aar.xml
app/.idea/libraries/Gradle__com_squareup_okio_okio_1_14_0_jar.xml
app/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_10_0_jar.xml
app/.idea/libraries/Gradle__com_google_firebase_firebase_common_19_2_0_aar.xml
app/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
app/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
app/.idea/caches/build_file_checksums.ser
app/.idea/assetWizardSettings.xml
.idea/workspace.xml
.idea/modules.xml
.idea/libraries/Gradle__me_dm7_barcodescanner_core_1_9_8_aar.xml
.idea/libraries/Gradle__com_google_firebase_firebase_common_19_2_0_aar.xml
.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_glide_4_2_0_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_gifdecoder_4_2_0_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_disklrucache_4_2_0_jar.xml
.idea/libraries/Gradle__com_github_bumptech_glide_annotations_4_2_0_jar.xml
.idea/caches/build_file_checksums.ser
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/executionHistory/executionHistory.bin
